<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio</title>
</head>
<body>
    {{>_navbar}}
    <div class="container mt-4">
        {{>_msg}}
        {{{body}}}
    </div>
    

<script src="file:///C:/Users/Watson%20Santos/Desktop/Bootsstrap/V4/jquery-3.2.1.slim.min.js"></script>
<script src="file:///C:/Users/Watson%20Santos/Desktop/Bootsstrap/V4/popper.min.js"></script>
<script src="/js/bootastrap.js"></script>
    
</body>
</html>